@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@400;500;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaryBgColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.link-styles {
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primaryBgColor: #070707;
  --secondaryBgColor: gray;
  --fontPrimaryColor: white;
  --fontSecondaryColor: #b6b6b6;
}
